@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
}

@layer base {
    :root {
        --color-primary: #0D2648;
        --color-secondary: #F3653D;
    }
}

.header-2 {
    @apply p-2 text-xl lg:text-4xl lg:p-8 font-semibold uppercase text-base-secondary
}

.highlight {
    @apply image-full bg-base-100 shadow-xl w-72
}

.ghost-btn {
    @apply btn btn-ghost kbd uppercase hover:bg-secondary-content btn-xs
}

.section-title {
    @apply flex justify-between text-base-secondary items-center
}

#hero-section {
    background-image: url("/hero-image.png");
    height: 70vh;
    /* Create a parallax effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Add this overlay pseudo-element */
#hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /* Black with 40% opacity - adjust as needed */
    z-index: 1;
}

/* Make sure your text content is positioned properly */
#hero-section>* {
    position: relative;
    z-index: 2;
    /* Places content above the overlay */
}

.fade-in {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slide-in {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.section {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

.section.visible {
    opacity: 1;
    transform: translate(0, 0);
}